// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';
@tailwind base;

@tailwind components;

@tailwind utilities;

.background-image {
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/s/seiproject/20190613/20190613221223.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
